# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Testes
.coverage
htmlcov/
.pytest_cache/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Ambiente
.env
*.env.local

# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# Node / Frontend
node_modules/
frontend/build/

# Java / Backend
target/
